<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <p>© 2024 - All Rights with <a href="http://www.technoexponent.com/" target="_blank">Techno Exponent</a></p>
            </div>
        </div>
    </div>
</footer>