{% extends 'index.twig' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center pt-3">Hotels on the Strip</h1>
        <div class="row mt-4">
            {% for hotel in hotels %}
                <div class="col-md-4 my-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ hotel.getName() }}</h5>
                            <p class="card-text">{{ hotel.getBeschreibung() }}</p>
                            <img src="{{ hotel.getBild() }}" class="img-fluid" alt="{{ hotel.getName() }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
